<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <%- include ('partials/header') %>
    <main class="detalle-main">
        <%- include ('partials/sideBar') %>

        <div class="creacion-div-formulario">
            <form class="creacion-formulario" action="/productos/creacion" method="POST" enctype="multipart/form-data">
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="nombre"> Nombre del producto:</label>
                    </div>
                    <div class="creacion-width75">
                        <input id="nombre" type="text" name="nombre" placeholder="Ej.: Macbook" >
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="login-error"><i class="fas fa-exclamation-triangle"></i><%= errors.nombre.msg %></div>
                    <% } %>
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="precio"> Precio:</label>
                    </div>
                    <div class="creacion-width75">
                        <input id="precio" type="number" name="precio" placeholder="Ej.: 200000">
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="modelo"> Modelo:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-modelo" name="modelo">
                            <option name="modelo" value="1">2da Gen</option>
                            <option name="modelo" value="2">Air</option>
                            <option name="modelo" value="3">Cargador</option>
                            <option name="modelo" value="4">Funda</option>
                            <option name="modelo" value="5">iPad</option>
                            <option name="modelo" value="6">Lapiz</option>
                            <option name="modelo" value="7">Max</option>
                            <option name="modelo" value="8">Mini</option>
                            <option name="modelo" value="9">Plus</option>
                            <option name="modelo" value="10">Pro</option>
                            <option name="modelo" value="11">Pro 2da Gen</option>
                            <option name="modelo" value="12">Pro Max</option>
                            <option name="modelo" value="13">SE</option>
                            <option name="modelo" value="14">Series 8</option>
                            <option name="modelo" value="15">Teclado</option>
                            <option name="modelo" value="16">-</option>
                        </select>
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="capacidad"> Capacidad:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-gb" name="capacidad">
                            <option name="capacidad" value="1">N/A</option>
                            <option name="capacidad" value="2">64 GB</option>
                            <option name="capacidad" value="3">128 GB</option>
                            <option name="capacidad" value="4">256 GB</option>
                            <option name="capacidad" value="5">512 GB</option>
                        </select>
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="color"> Color:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-color" name="color">
                            <option name="color" value="1">Silver</option>
                            <option name="color" value="2">Azul</option>
                            <option name="color" value="3">Blanco</option>
                            <option name="color" value="4">Gris espacial</option>
                            <option name="color" value="5">Medianoche</option>
                            <option name="color" value="6">Morado</option>
                            <option name="color" value="7">Negro</option>
                            <option name="color" value="8">Purple</option>
                            <option name="color" value="9">Rosa</option>
                            <option name="color" value="10">Dorado</option>
                        </select>
                    </div>
                </div>
                
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="categoria"> Categoría:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-categoria" name="categoria">
                            <option name="categoria" value="1">iPhone</option>
                            <option name="categoria" value="2">Mac</option>
                            <option name="categoria" value="3">AirPods</option>
                            <option name="categoria" value="4">iPad</option>
                            <option name="categoria" value="5">Watch</option>
                            <option name="categoria" value="6">Accesorios</option>
                        </select>
                    </div>
                </div>
                            
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="descripcion"> Descripción:</label>
                    </div>
                    <div class="creacion-width75">
                        <textarea name="descripcion" id="descripcion" cols="30" rows="2" placeholder="Agrega la descripción de tu producto..."></textarea>
                        <% if (locals.errors && errors.descripcion) { %>
                            <div class="login-error"><i class="fas fa-exclamation-triangle"></i><%= errors.descripcion.msg %></div>
                        <% } %>
                    </div>
                    
                </div>
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="caracteristicas"> Características:</label>
                    </div>
                    <div class="creacion-width75">
                        <textarea name="caracteristicas" id="caracteristicas" cols="30" rows="2" placeholder="Agrega las características de tu producto..."></textarea>
                    </div>
                </div>
                
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="imagen"> Imagen:</label>
                    </div>
                    <div class="creacion-width75">
                        <input id="imagen" type="file" accept=".png,.jpg,.jpeg,.gif" name="imagen">
                        <% if (locals.errors && errors.imagen) { %>
                            <div class="login-error"><i class="fas fa-exclamation-triangle"></i><%= errors.imagen.msg %></div>
                        <% } %>
                    </div>
                </div>

                <div class="creacion-div-button-crear">
                    <button class="creacion-button-crear">Crear</button>
                </div>
            </form>
        </div>
    </main>
    <%- include ('partials/footer') %>
</body>

</html> 