<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <%- include ('partials/header', {userToLogin}) %>
    <main class="detalle-main">
        <%- include ('partials/sideBar') %>
    <div class="producto1">
        <div class="imgDetalle">
        <div class="detalle-divimg">
        <img class="iphone14" src="<%= productos.imagen %>" alt="<%= productos.nombre %>">
        </div>
        <div class="descripcion">
                <h2 class="detalle-nombreProd"><%= productos.nombre %></h2>
            
            <div class="selectores">

              

                <h3 class="tresItems"><%= modelo.nombre %></h3>
                <h3 class="tresItems"><%= capacidad.nombre %></h3>
                <h3 class="tresItems"><%= color.nombre %></h3>
            
            <!-- <form class="detalle-form" action="/" method="GET">            
                <select class="detalle-selector" name="select">
                    <option class="opcion" value="pro"><%= productos.modelo %></option>
        
                </select>
                <select class="detalle-selector" name="select">
                    <option class="opcion" value="125"><%= productos.capacidad %></option>
      
                </select>
                <select class="detalle-selector" name="select">
                    <option class="opcion" value="P"><%= productos.color %></option>
                </select>

            </form> -->
        </div>
        <div class="precio">
            <h3 class="detalle-valor">$<%= toThousand(productos.precio) %><i id="carrito" class="fa-solid fa-cart-arrow-down"></i></h3>
        </div>
        <div class="informacion">
            <p class="info">
                <%= productos.descripcion %>
            </p>
        </div>
        </div>
        </div>
        <div class="detalle-caract">
            <p class="detalle-caracteristicas">
                + CARACTERÍSTICAS
            </p>
            <ul class="detalle-especific">
                <%= productos.caracteristicas %>
                <!-- <li>Dimensiones y peso: Ancho: 7,15 cm, Alto: 14,67 cm, Grosor: 0,76 cm, Peso: 203 g</li>
                <li>Pantalla Super Retina XDR con ProMotion</li>
                <li>Resolución de 2.532 por 1.170 píxeles a 460 p/p</li>
                <li>Pantalla HDR</li>
                <li>Sistema de cámaras Pro de 12 Mpx con teleobjetivo, gran angular y ultra gran angular</li>
                <li>Teleobjetivo: apertura de ƒ/2,8</li>
                <li>Reconoci­miento facial mediante la cámara TrueDepth</li> -->
            </ul>
            <% if ( userToLogin != undefined){ %>

                <% if ( userToLogin.categoriauser_id == 1){ %>
                <div class="botonesEditarEliminar">
                    <div class="divDetalleEditar">
                        <a class="botonEditar"href="/productos/<%= productos.id %>/editar">EDITAR PRODUCTO</a>
                    </div>

                    <div class="divDetalleEliminar">
                        <form action="/productos/<%= productos.id %>/?_method=DELETE" method="POST">
                            <button type="submit" class="botonEliminar">ELIMINAR PRODUCTO</button>  
                        </form>
                    </div>
            </div> 
                <% } %>
            <% } %>
        </div>
        </div>

    
        <div class="recomendados">
            <a href="/productos/27/" class="divreco">
                <img class="reco" src="/images/productos/Accesorios/Apple Funda.jpg">
                <i id= "mas" class="fa-solid fa-circle-plus"></i>
            </a>
            <a href="/productos/29/" class="divreco">
                <img class="reco" src="/images/productos/Accesorios/Apple Magsafe Charger.jpg">
                <i id= "mas" class="fa-solid fa-circle-plus"></i>
            </a>
            <a href="/productos/24/" class="divreco">
                <img class="reco" src="/images/productos/Watch/Apple Watch Series 8.jpg">
                <i id= "mas" class="fa-solid fa-circle-plus"></i>
            </a>
        </div>
      

       
    </main> 
    
       
    <%- include ('partials/footer') %>
</body>

</html> 