<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <%- include ('partials/header') %>
    <main class="detalle-main">
        <%- include ('partials/sideBar') %>

        <div class="creacion-div-formulario">
            <form class="creacion-formulario" action="/productos/<%= productoAEditar.id %>/editar?_method=PUT" method="POST">
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="nombre"> Nombre del producto:</label> 
                    </div>
                    <div class="creacion-width75">
                        <input id="nombre" type="text" name="nombre" placeholder="Ej.: Macbook" value="<%= productoAEditar.nombre%>">
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="precio"> Precio:</label>
                    </div>
                    <div class="creacion-width75">
                        <input id="precio" type="number" name="precio" placeholder="Ej.: 200000" value="<%= productoAEditar.precio%>">
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="modelo"> Modelo:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-modelo" name="modelo">
                            <option name="modelo" value="1" <%= productoAEditar.modelo_id == "1" ? "selected" : "" %>>2da Gen</option>
                            <option name="modelo" value="2" <%= productoAEditar.modelo_id == "2" ? "selected" : "" %>>Air</option>
                            <option name="modelo" value="3" <%= productoAEditar.modelo_id == "3" ? "selected" : "" %>>Cargador</option>
                            <option name="modelo" value="4" <%= productoAEditar.modelo_id == "4" ? "selected" : "" %>>Funda</option>
                            <option name="modelo" value="5" <%= productoAEditar.modelo_id == "5" ? "selected" : "" %>>iPad</option>
                            <option name="modelo" value="6" <%= productoAEditar.modelo_id == "6" ? "selected" : "" %>>Lapiz</option>
                            <option name="modelo" value="7" <%= productoAEditar.modelo_id == "7" ? "selected" : "" %>>Max</option>
                            <option name="modelo" value="8" <%= productoAEditar.modelo_id == "8" ? "selected" : "" %>>Mini</option>
                            <option name="modelo" value="9" <%= productoAEditar.modelo_id == "9" ? "selected" : "" %>>Plus</option>
                            <option name="modelo" value="10" <%= productoAEditar.modelo_id == "10" ? "selected" : "" %>>Pro</option>
                            <option name="modelo" value="11" <%= productoAEditar.modelo_id == "11" ? "selected" : "" %>>Pro 2da Gen</option>
                            <option name="modelo" value="12" <%= productoAEditar.modelo_id == "12" ? "selected" : "" %>>Pro Max</option>
                            <option name="modelo" value="13" <%= productoAEditar.modelo_id == "13" ? "selected" : "" %>>SE</option>
                            <option name="modelo" value="14" <%= productoAEditar.modelo_id == "14" ? "selected" : "" %>>Series 8</option>
                            <option name="modelo" value="15" <%= productoAEditar.modelo_id == "15" ? "selected" : "" %>>Teclado</option>
                            <option name="modelo" value="16" <%= productoAEditar.modelo_id == "16" ? "selected" : "" %>>-</option>
                        </select>
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="capacidad"> Capacidad:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-gb" name="capacidad">
                            <option name="capacidad" value="1" <%= productoAEditar.capacidad_id == "1" ? "selected" : "" %>>N/A</option>
                            <option name="capacidad" value="2" <%= productoAEditar.capacidad_id == "2" ? "selected" : "" %>>64 GB</option>
                            <option name="capacidad" value="3" <%= productoAEditar.capacidad_id == "3" ? "selected" : "" %>>128 GB</option>
                            <option name="capacidad" value="4" <%= productoAEditar.capacidad_id == "4" ? "selected" : "" %>>256 GB</option>
                            <option name="capacidad" value="5" <%= productoAEditar.capacidad_id == "5" ? "selected" : "" %>>512 GB</option>
                        </select>
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="color"> Color:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-color" name="color">
                            <option name="color" value="1" <%= productoAEditar.color_id == "1" ? "selected" : "" %>>Silver</option>
                            <option name="color" value="2" <%= productoAEditar.color_id == "2" ? "selected" : "" %>>Azul</option>
                            <option name="color" value="3" <%= productoAEditar.color_id == "3" ? "selected" : "" %>>Blanco</option>
                            <option name="color" value="4" <%= productoAEditar.color_id == "4" ? "selected" : "" %>>Gris espacial</option>
                            <option name="color" value="5" <%= productoAEditar.color_id == "5" ? "selected" : "" %>>Medianoche</option>
                            <option name="color" value="6" <%= productoAEditar.color_id == "6" ? "selected" : "" %>>Morado</option>
                            <option name="color" value="7" <%= productoAEditar.color_id == "7" ? "selected" : "" %>>Negro</option>
                            <option name="color" value="8" <%= productoAEditar.color_id == "8" ? "selected" : "" %>>Purple</option>
                            <option name="color" value="9" <%= productoAEditar.color_id == "9" ? "selected" : "" %>>Rosa</option>
                            <option name="color" value="10" <%= productoAEditar.color_id == "10" ? "selected" : "" %>>Dorado</option>
                        </select>
                    </div>
                </div>
                
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="categoria"> Categoría:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-categoria" name="categoria">
                            <option name="categoria" value="1" <%= productoAEditar.categoriaprod_id == "1" ? "selected" : "" %>>iPhone</option>
                            <option name="categoria" value="2" <%= productoAEditar.categoriaprod_id == "2" ? "selected" : "" %>>Mac</option>
                            <option name="categoria" value="3" <%= productoAEditar.categoriaprod_id == "3" ? "selected" : "" %>>AirPods</option>
                            <option name="categoria" value="4" <%= productoAEditar.categoriaprod_id == "4" ? "selected" : "" %>>iPad</option>
                            <option name="categoria" value="5" <%= productoAEditar.categoriaprod_id == "5" ? "selected" : "" %>>Watch</option>
                            <option name="categoria" value="6" <%= productoAEditar.categoriaprod_id == "6" ? "selected" : "" %>>Accesorios</option>
                        </select>
                    </div>
                </div>
                            
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="descripcion"> Descripción:</label>
                    </div>
                    <div class="creacion-width75">
                        <textarea name="descripcion" id="descripcion" cols="30" rows="2" placeholder="Agrega la descripción de tu producto..."><%= productoAEditar.descripcion %></textarea>
                    </div>
                </div>
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="caracteristicas"> Características:</label>
                    </div>
                    <div class="creacion-width75">
                        <textarea name="caracteristicas" id="caracteristicas" cols="30" rows="2" placeholder="Agrega las características de tu producto..."><%= productoAEditar.caracteristicas %></textarea>
                    </div>
                </div>
                
                <!-- <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="imagen"> Imagen:</label>
                    </div>
                    <div class="creacion-width75">
                        <input id="imagen" type="file" name="imagen">
                    </div>
                </div> -->

                <div class="creacion-div-button-crear">
                    <button class="creacion-button-crear">Editar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include ('partials/footer') %>
</body>

</html> 