<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <%- include ('partials/header') %>
    <main class="detalle-main">
        <%- include ('partials/sideBar') %>

        <div class="creacion-div-formulario">
            <form class="creacion-formulario" action="/productos/<%= productoAEditar.id %>/editar?_method=PUT" method="POST">
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="nombre"> Nombre del producto:</label> 
                    </div>
                    <div class="creacion-width75">
                        <input id="nombre" type="text" name="nombre" placeholder="Ej.: Macbook" value="<%= productoAEditar.nombre%>">
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="precio"> Precio:</label>
                    </div>
                    <div class="creacion-width75">
                        <input id="precio" type="number" name="precio" placeholder="Ej.: 200000" value="<%= productoAEditar.precio%>">
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="modelo"> Modelo:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-modelo" name="modelo">
                            <option name="modelo" value="2da Gen" <%= productoAEditar.modelo == "2da Gen" ? "selected" : "" %>>2da Gen</option>
                            <option name="modelo" value="Air" <%= productoAEditar.modelo == "Air" ? "selected" : "" %>>Air</option>
                            <option name="modelo" value="Cargador" <%= productoAEditar.modelo == "Cargador" ? "selected" : "" %>>Cargador</option>
                            <option name="modelo" value="Funda" <%= productoAEditar.modelo == "Funda" ? "selected" : "" %>>Funda</option>
                            <option name="modelo" value="iPad" <%= productoAEditar.modelo == "iPad" ? "selected" : "" %>>iPad</option>
                            <option name="modelo" value="Lapiz" <%= productoAEditar.modelo == "Lapiz" ? "selected" : "" %>>Lapiz</option>
                            <option name="modelo" value="Max" <%= productoAEditar.modelo == "Max" ? "selected" : "" %>>Max</option>
                            <option name="modelo" value="Mini" <%= productoAEditar.modelo == "Mini" ? "selected" : "" %>>Mini</option>
                            <option name="modelo" value="Plus" <%= productoAEditar.modelo == "Plus" ? "selected" : "" %>>Plus</option>
                            <option name="modelo" value="Pro" <%= productoAEditar.modelo == "Pro" ? "selected" : "" %>>Pro</option>
                            <option name="modelo" value="Pro 2da Gen" <%= productoAEditar.modelo == "Pro 2da Gen" ? "selected" : "" %>>Pro 2da Gen</option>
                            <option name="modelo" value="Pro Max" <%= productoAEditar.modelo == "Pro Max" ? "selected" : "" %>>Pro Max</option>
                            <option name="modelo" value="SE" <%= productoAEditar.modelo == "SE" ? "selected" : "" %>>SE</option>
                            <option name="modelo" value="Series 8" <%= productoAEditar.modelo == "Series 8" ? "selected" : "" %>>Series 8</option>
                            <option name="modelo" value="Teclado" <%= productoAEditar.modelo == "Teclado" ? "selected" : "" %>>Teclado</option>
                        </select>
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="capacidad"> Capacidad:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-gb" name="capacidad">
                            <option name="capacidad" value="N/A" <%= productoAEditar.capacidad == "N/A" ? "selected" : "" %>>N/A</option>
                            <option name="capacidad" value="64 GB" <%= productoAEditar.capacidad == "64 GB" ? "selected" : "" %>>64 GB</option>
                            <option name="capacidad" value="128 GB" <%= productoAEditar.capacidad == "128 GB" ? "selected" : "" %>>128 GB</option>
                            <option name="capacidad" value="256 GB" <%= productoAEditar.capacidad == "256 GB" ? "selected" : "" %>>256 GB</option>
                            <option name="capacidad" value="512 GB" <%= productoAEditar.capacidad == "512 GB" ? "selected" : "" %>>512 GB</option>
                        </select>
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="color"> Color:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-color" name="color">
                            <option name="color" value="Azul" <%= productoAEditar.color == "Azul" ? "selected" : "" %>>Azul</option>
                            <option name="color" value="Blanco" <%= productoAEditar.color == "Blanco" ? "selected" : "" %>>Blanco</option>
                            <option name="color" value="Dorado" <%= productoAEditar.color == "Dorado" ? "selected" : "" %>>Dorado</option>
                            <option name="color" value="Gris espacial" <%= productoAEditar.color == "Gris espacial" ? "selected" : "" %>>Gris espacial</option>
                            <option name="color" value="Medianoche" <%= productoAEditar.color == "Medianoche" ? "selected" : "" %>>Medianoche</option>
                            <option name="color" value="Morado" <%= productoAEditar.color == "Morado" ? "selected" : "" %>>Morado</option>
                            <option name="color" value="Negro" <%= productoAEditar.color == "Negro" ? "selected" : "" %>>Negro</option>
                            <option name="color" value="Plata" <%= productoAEditar.color == "Plata" ? "selected" : "" %>>Plata</option>
                            <option name="color" value="Purple" <%= productoAEditar.color == "Purple" ? "selected" : "" %>>Purple</option>
                            <option name="color" value="Rosa" <%= productoAEditar.color == "Rosa" ? "selected" : "" %>>Rosa</option>
                            <option name="color" value="Silver" <%= productoAEditar.color == "Silver" ? "selected" : "" %>>Silver</option>
                        </select>
                    </div>
                </div>
                
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="categoria"> Categoría:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-categoria" name="categoria">
                            <option name="categoria" value="iPhone" <%= productoAEditar.categoria == "iPhone" ? "selected" : "" %>>iPhone</option>
                            <option name="categoria" value="Mac" <%= productoAEditar.categoria == "Mac" ? "selected" : "" %>>Mac</option>
                            <option name="categoria" value="AirPods" <%= productoAEditar.categoria == "AirPods" ? "selected" : "" %>>AirPods</option>
                            <option name="categoria" value="iPad" <%= productoAEditar.categoria == "iPad" ? "selected" : "" %>>iPad</option>
                            <option name="categoria" value="Watch" <%= productoAEditar.categoria == "Watch" ? "selected" : "" %>>Watch</option>
                            <option name="categoria" value="Accesorios" <%= productoAEditar.categoria == "Accesorios" ? "selected" : "" %>>Accesorios</option>
                        </select>
                    </div>
                </div>
                            
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="descripcion"> Descripción:</label>
                    </div>
                    <div class="creacion-width75">
                        <textarea name="descripcion" id="descripcion" cols="30" rows="2" placeholder="Agrega la descripción de tu producto..."><%= productoAEditar.descripcion %></textarea>
                    </div>
                </div>
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="caracteristicas"> Características:</label>
                    </div>
                    <div class="creacion-width75">
                        <textarea name="caracteristicas" id="caracteristicas" cols="30" rows="2" placeholder="Agrega las características de tu producto..."><%= productoAEditar.caracteristicas %></textarea>
                    </div>
                </div>
                
                <!-- <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="imagen"> Imagen:</label>
                    </div>
                    <div class="creacion-width75">
                        <input id="imagen" type="file" name="imagen">
                    </div>
                </div> -->

                <div class="creacion-div-button-crear">
                    <button class="creacion-button-crear">Editar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include ('partials/footer') %>
</body>

</html> 