<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/head') %>
  <body>
    <%- include ('partials/header') %>
    <main class="login-main">
      <%- include ('partials/sideBar') %>      
      <div class="master-form">
        <form action="/user/login" class="form-box" method="POST" animated animate__backInLeft>
          <p class="form-title">Login</p>

          

          <input type="email" name = "email" placeholder="Email" value="<%= locals.old && old.email%>" />
          <% if (locals.errors && errors.email) { %>
            <div class="login-error"><i class="fas fa-exclamation-triangle"></i><%= errors.email.msg %></div>
            <% } %>
          <input type="password" name = "password" placeholder="Contraseña" />
          <% if (locals.errors && errors.password) { %>
            <div class="login-error"><i class="fas fa-exclamation-triangle"></i><%= errors.password.msg %></div>
            <% } %>
          <label for="recordar" class="login-recordar">
            Recordarme
          </label>
          <input type="checkbox" id="recordar" name="recordar">
          <button type="submit">Login</button>
        
          <a href="" class="form-remember">¿Olvidaste tu contraseña?</a>
        
        <p class="login-creaTuCuenta">
          ¿Aún no estás registrado?
          <br>
          <a href="/user/register" class="login-linkCreaTuCuenta">Creá tu cuenta</a>
        </p>
      </form>
      </div>
    </main>
    <%- include ('partials/footer') %>
  </body>
</html>
