<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <%- include ('partials/header', {userToLogin}) %>
    <main class="perfilMain">
        <%- include ('partials/sideBar') %>
        
        <section class="perfilSection">

            <p class="tituloPerfil">Perfíl</p>

        <div class="infoUser">
            <div class="divImgUser">
                <img src="<%= usuarioAEditar.imagen%>" class="imgUser">
            </div>
            <div class="divDatosUser">
                <p class="datosUser">
                    Email: <%= usuarioAEditar.email%><br>
                    Nombre y Apellido: <%= usuarioAEditar.nombre_apellido%><br>
                    DNI: <%= usuarioAEditar.dni%><br>
                    Fecha de Nacimiento: <%= usuarioAEditar.nacimiento%><br>
                    Provincia: <%= usuarioAEditar.provincia%><br>
                    Localidad: <%= usuarioAEditar.localidad%><br>
                    Domicilio: <%= usuarioAEditar.domicilio%><br>
                    Código Postal: <%= usuarioAEditar.cp%><br>
                    Teléfono: <%= usuarioAEditar.telefono%><br>
                </p>
            </div>
        </div>

        <div class="botones">
            
            
            <form class="dosBotenes" action="/" method="GET">

                <button type="submit" class="botonContraseña">Cambiar contraseña</button>
                <button type="submit" class="botonFoto">Cambiar foto de perfíl</button>    

            </form>

            <form class="dosBotenes" action="/user/perfil/<%= usuarioAEditar.id %>/?_method=DELETE" method="POST">
                <button type="submit" >Eliminar usuario definitivamente</button>  
            </form>

        </div>

        <section class="seccionDatos">

            <p class="tituloPerfil">Datos</p>

            <div class="datosPerfil">
               
                    <form action="/user/perfil/<%= usuarioAEditar.id %>?_method=PUT" method="POST">
                        <div class="datos">
                            
                            <div class="contenerdorPerfilFormulario">
                                <div class="contenedorPerfilLabel">
                                    <label for="nombre_apellido">Nombre y Apellido:</label>
                                </div>
                                <div class="ContenedorPerfilInput">
                                    <input class="perfilDato" type="text" name="nombre_apellido" id="nombre_apellido" value="<%= usuarioAEditar.nombre_apellido%>" placeholder="Ej: Pablo Suárez" >
                                </div>
                            </div>

                            <div class="contenerdorPerfilFormulario">
                                <div class="contenedorPerfilLabel">
                                    <label for="dni">N° Doc.:</label>
                                </div>
                                <div class="ContenedorPerfilInput">
                                    <input class="perfilDato" type="number" name="dni" id="dni" minlength="7" value="<%= usuarioAEditar.dni%>" placeholder="Ingresar DNI sin puntos">
                                </div>
                            </div>

                            <div class="contenerdorPerfilFormulario">
                                <div class="contenedorPerfilLabel">
                                    <label for="nacimiento">Fecha de nac.:</label>
                                </div>
                                <div class="ContenedorPerfilInput">
                                    <input class="perfilDato" type="date" name="nacimiento" id="nacimiento" value="<%= usuarioAEditar.nacimiento%>">
                                </div>
                            </div>
                            
                            <div class="contenerdorPerfilFormulario">
                                <div class="contenedorPerfilLabel">
                                    <label for="provincia">Provincia:</label>
                                </div>
                                <div class="ContenedorPerfilInput">
                                    <input class="perfilDato" type="text" name="provincia" id="provincia" value="<%= usuarioAEditar.provincia%>" placeholder="Ej: Buenos Aires">
                                </div>
                            </div>
                            
                            <div class="contenerdorPerfilFormulario">
                                <div class="contenedorPerfilLabel">
                                    <label for="localidad">Localidad:</label>
                                </div>
                                <div class="ContenedorPerfilInput">
                                    <input class="perfilDato" type="text" name="localidad" id="localidad" value="<%= usuarioAEditar.localidad%>" placeholder="Ej: Mar del Plata">
                                </div>
                            </div>
                            
                            <div class="contenerdorPerfilFormulario">
                                <div class="contenedorPerfilLabel">
                                    <label for="domicilio">Domicilio:</label>
                                </div>
                                <div class="ContenedorPerfilInput">
                                    <input class="perfilDato" type="text" name="domicilio" id="domicilio" value="<%= usuarioAEditar.domicilio%>" placeholder="Calle y Número">
                                </div>
                            </div>
                            
                            <div class="contenerdorPerfilFormulario">
                                <div class="contenedorPerfilLabel">
                                    <label for="cp">Cod. postal</label>
                                </div>
                                <div class="ContenedorPerfilInput">
                                    <input class="perfilDato" type="number" name="cp" id="cp" value="<%= usuarioAEditar.cp%>" placeholder="Ej: 7600">
                                </div>
                            </div>
                                                    
                            <div class="contenerdorPerfilFormulario">
                                <div class="contenedorPerfilLabel">
                                    <label for="telefono">Teléfono:</label>
                                </div>
                                <div class="ContenedorPerfilInput">
                                    <input class="perfilDato" type="tel" name="telefono" id="telefono" minlength="10" value="<%= usuarioAEditar.telefono%>" placeholder="Ej: 2235333330">
                                </div>
                            </div>
                            
                    
                        </div>
                        <div>
                            <button class="perfil-botonEditar">Editar</button>
                        </div>
                    </form>
            </div>
        </section>


    </section>

    </main>    
    <%- include ('partials/footer') %>
</body>

</html> 