<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <%- include ('partials/header') %>
    <main class="detalle-main">
        <%- include ('partials/sideBar') %>
        <div class="productoSections">

        <!-- TITULO IPHONE  -->

        <% let catIphone = 0; %>
        <% for (let i = 0 ; i < productos.length ; i++) { %>
            
            <% if (productos[i].categoriaprod_id == 1) {  %>
                <% catIphone++ %>
                <% } %>
                <% if (catIphone > 0){ %>
                    <section class="seciphone" id="iphone">
                    <p class="productoCategoria">iPhone</p>
                <% } %>    
                <% } %>

        <!-- PRODUCTOS IPHONE -->

                <div class="productosListaIphone">
                    <% let productosIphone = []; %>
                    <% for (let i = 0 ; i < productos.length ; i++) { %>
                        <% if (productos[i].categoriaprod_id == 1) {  %>
                            <% productosIphone.push(productos[i]) %>
                        <% } %>
                            <a class="productos" href="/productos/<%= productosIphone[i].id %>">
                                <div class="divproducto">
                                    <img class="productoimg" src="<%= productosIphone[i].imagen %>">
                                </div>
                                    <h2 class="productonombre"><%= productosIphone[i].nombre %></h2>
                                    <h3 class="productoprecio">$ <%= toThousand(productosIphone[i].precio) %></h3>
                                    <p class="productodescripcion"><%= productosIphone[i].descripcion %></p>
                            </a>
                    <% } %>           
                </div>
    
            </section>

        

    </div>


    </main>    
    <%- include ('partials/footer') %>
</body>

</html> 