<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <%- include ('partials/header') %>
    <main class="detalle-main">
        <%- include ('partials/sideBar') %>
        <div class="productoSections">

        <!-- TITULO IPHONE  -->

        <% let catIphone = 0; %>
        <% for (let i = 0 ; i < productos.length ; i++) { %>
            
            <% if (productos[i].categoriaprod_id == 1) {  %>
                <% catIphone++ %>
            <% } %>
        <% } %>

        <% if (catIphone > 0){ %>
            <section class="seciphone" id="iphone">
            <p class="productoCategoria">iPhone</p>   

        <!-- PRODUCTOS IPHONE -->

                <div class="productosListaIphone">
                    <% let productosIphone = []; %>
                    <% for (let i = 0 ; i < productos.length ; i++) { %>
                        <% if (productos[i].categoriaprod_id == 1) {  %>
                            <% productosIphone.push(productos[i]) %>
                        <% } %>
                            <a class="productos" href="/productos/<%= productosIphone[i].id %>">
                                <div class="divproducto">
                                    <img class="productoimg" src="<%= productosIphone[i].imagen %>">
                                </div>
                                    <h2 class="productonombre"><%= productosIphone[i].nombre %></h2>
                                    <h3 class="productoprecio">$ <%= toThousand(productosIphone[i].precio) %></h3>
                                    <p class="productodescripcion"><%= productosIphone[i].descripcion %></p>
                            </a>
                    <% } %>

                </div>
            </section>
        <% } %>           
 
      
            <!-- TITULO MAC  -->

        <% let catMac = 0; %>
        <% for (let i = 0 ; i < productos.length ; i++) { %>
          
            <% if (productos[i].categoriaprod_id == 2) {  %>
                <% catMac++ %>
            <% } %>
        <% } %>

            <% if (catMac > 0){ %>
                  <section class="seciphone" id="mac">
                  <p class="productoCategoria">Mac</p>


      <!-- PRODUCTOS MAC -->

              <div class="productosListaIphone">
                <% let productosMac = []; %>
                <% for (let i = 0 ; i < productos.length ; i++) { %>
                    <% if (productos[i].categoriaprod_id == 2) {  %>
                        <% productosMac.push(productos[i]) %>
                    <% } %>
                          <a class="productos" href="/productos/<%= productosMac[i].id %>">
                              <div class="divproducto">
                                  <img class="productoimg" src="<%= productosMac[i].imagen %>">
                              </div>
                                  <h2 class="productonombre"><%= productosMac[i].nombre %></h2>
                                  <h3 class="productoprecio">$ <%= toThousand(productosMac[i].precio) %></h3>
                                  <p class="productodescripcion"><%= productosMac[i].descripcion %></p>
                          </a>
                  <% } %>           
              </div>
          </section>
        <% } %>    
    
        <!-- TITULO AIRPODS  -->

    <% let catAirpods = 0; %>
    <% for (let i = 0 ; i < productos.length ; i++) { %>
        
        <% if (productos[i].categoriaprod_id == 3) {  %>
            <% catAirpods++ %>
        <% } %>
    <% } %>

    <% if (catAirpods > 0){ %>
        <section class="seciphone" id="airpods">
        <p class="productoCategoria">AirPods</p>

    <!-- PRODUCTOS AIRPODS -->

            <div class="productosListaIphone">
                <% let productosAirpods = []; %>
                <% for (let i = 0 ; i < productos.length ; i++) { %>
                    <% if (productos[i].categoriaprod_id == 3) {  %>
                        <% productosAirpods.push(productos[i]) %>
                    <% } %>
                        <a class="productos" href="/productos/<%= productosAirpods[i].id %>">
                            <div class="divproducto">
                                <img class="productoimg" src="<%= productosAirpods[i].imagen %>">
                            </div>
                                <h2 class="productonombre"><%= productosAirpods[i].nombre %></h2>
                                <h3 class="productoprecio">$ <%= toThousand(productosAirpods[i].precio) %></h3>
                                <p class="productodescripcion"><%= productosAirpods[i].descripcion %></p>
                        </a>
                <% } %>           
            </div>
        </section>  
    <% } %>

         <!-- TITULO IPAD  -->

  <% let catIpad = 0; %>
  <% for (let i = 0 ; i < productos.length ; i++) { %>
      
      <% if (productos[i].categoriaprod_id == 4) {  %>
          <% catIpad++ %>
        <% } %>
    <% } %>

    <% if (catIpad > 0){ %>
        <section class="seciphone" id="ipad">
        <p class="productoCategoria">iPad</p>

  <!-- PRODUCTOS IPAD -->

          <div class="productosListaIphone">
            <% let productosIpad = []; %>
            <% for (let i = 0 ; i < productos.length ; i++) { %>
                <% if (productos[i].categoriaprod_id == 4) {  %>
                    <% productosIpad.push(productos[i]) %>
                <% } %>
                      <a class="productos" href="/productos/<%= productosIpad[i].id %>">
                          <div class="divproducto">
                              <img class="productoimg" src="<%= productosIpad[i].imagen %>">
                          </div>
                              <h2 class="productonombre"><%= productosIpad[i].nombre %></h2>
                              <h3 class="productoprecio">$ <%= toThousand(productosIpad[i].precio) %></h3>
                              <p class="productodescripcion"><%= productosIpad[i].descripcion %></p>
                      </a>
            <% } %>           
          </div>
      </section>
    <% } %>

        <!-- TITULO WATCH  -->

<% let catWatch = 0; %>
<% for (let i = 0 ; i < productos.length ; i++) { %>
    
    <% if (productos[i].categoriaprod_id == 5) {  %>
        <% catWatch++ %>
        <% } %>
<% } %>

<% if (catWatch > 0){ %>
            <section class="seciphone" id="watch">
            <p class="productoCategoria">Watch</p>

<!-- PRODUCTOS WATCH -->

        <div class="productosListaIphone">
            <% let productosWatch = []; %>
            <% for (let i = 0 ; i < productos.length ; i++) { %>
                <% if (productos[i].categoriaprod_id == 5) {  %>
                    <% productosWatch.push(productos[i]) %>
                <% } %>
                    <a class="productos" href="/productos/<%= productosWatch[i].id %>">
                        <div class="divproducto">
                            <img class="productoimg" src="<%= productosWatch[i].imagen %>">
                        </div>
                            <h2 class="productonombre"><%= productosWatch[i].nombre %></h2>
                            <h3 class="productoprecio">$ <%= toThousand(productosWatch[i].precio) %></h3>
                            <p class="productodescripcion"><%= productosWatch[i].descripcion %></p>
                    </a>
            <% } %>           
        </div>
      </section>
<% } %>

        <!-- TITULO ACCESORIOS  -->

<% let catAccesorios = 0; %>
<% for (let i = 0 ; i < productos.length ; i++) { %>
    
    <% if (productos[i].categoriaprod_id == 6) {  %>
        <% catAccesorios++ %>
    <% } %>
<% } %>

<% if (catAccesorios > 0){ %>
    <section class="seciphone" id="accesorios">
    <p class="productoCategoria">Accesorios</p>

<!-- PRODUCTOS ACCESORIOS -->

        <div class="productosListaIphone">
            <% let productosAccesorios = []; %>
            <% for (let i = 0 ; i < productos.length ; i++) { %>
                <% if (productos[i].categoriaprod_id == 1) {  %>
                    <% productosAccesorios.push(productos[i]) %>
                <% } %>
                    <a class="productos" href="/productos/<%= productosAccesorios[i].id %>">
                        <div class="divproducto">
                            <img class="productoimg" src="<%= productosAccesorios[i].imagen %>">
                        </div>
                            <h2 class="productonombre"><%= productosAccesorios[i].nombre %></h2>
                            <h3 class="productoprecio">$ <%= toThousand(productosAccesorios[i].precio) %></h3>
                            <p class="productodescripcion"><%= productosAccesorios[i].descripcion %></p>
                    </a>
            <% } %>           
        </div>
      </section>
<% } %>

        </div>


    </main>    
    <%- include ('partials/footer') %>
</body>

</html> 