<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/head') %>
  <body>
    <%- include ('partials/header', {userToLogin}) %>
    <main class="register-main">
      <%- include ('partials/sideBar') %>      
      <div class="register-master-form">
        <form
          action="/user/register"
          method="POST"
          class="register-form-box"
          animated
          animate__backInLeft
          enctype="multipart/form-data"
        >
          <p class="register-form-tittle">Registro</p>
          <div class="errores">
            <ul></ul>
          </div>
          <input type="text" name="nombre_apellido" class="nombre_apellido" placeholder="Nombre y apellido" value="<%= locals.old && old.nombre_apellido%>"/>
          <% if (locals.errors && errors.nombre_apellido) { %>
          <div class="login-error"><i class="fas fa-exclamation-triangle"></i><%= errors.nombre_apellido.msg %></div>
          <% } %>
          <input type="text" name="email" class="email" placeholder="Email" value="<%= locals.old && old.email%>"/>
          <% if (locals.errors && errors.email) { %>
          <div class="login-error"><i class="fas fa-exclamation-triangle"></i><%= errors.email.msg %></div>
          <% } %>
          <input type="password" name="password" class="inputpass" placeholder="Contraseña" value="<%= locals.old && old.password%>"/>
          <% if (locals.errors && errors.password) { %>
            <div class="login-error"><i class="fas fa-exclamation-triangle"></i><%= errors.password.msg %></div>
            <% } %>
          <input id="imagenreg" type="file" name="imagenreg">
          <% if (locals.errors && errors.imagenreg) { %>
            <div class="login-error"><i class="fas fa-exclamation-triangle"></i><%= errors.imagenreg.msg %></div>
          <% } %>
          
          <button type="submit">Registro</button>
        </form>
      </div>
    </main>
    <%- include ('partials/footer') %>
    <script src="/js/script.js"></script>
  </body>
</html>